body {
    
    padding: 20px;
    font-family: Helvetica;
  }
  
  #banner-message {
    background: hsl(0, 1%, 53%);
    border-radius: 4px;
    padding: 20px;
    
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 300px;
  }
  
  button {
    background: #0084ff;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 15px;
    color: #fff;
  }
  
  #banner-message.alt {
    background: #0084ff;
    color: #fff;
    margin-top: 40px;
    width: 200px;
  }
  
  #banner-message.alt button {
    background: #fff;
    color: #000;
  }
  #student-message
  {
    margin: auto;
        width: 100%;
        border: 1px solid #470fef;
        padding: 30px; 
  }
  #student-data
  {
    margin: auto;
        width: 100%;
        border: 1px solid #470fef;
        padding: 30px;
  }
  #two-decimal
  {
    margin: auto;
        width: 100%;
        border: 1px solid #470fef;
        padding: 30px;
  }
  #variable-rule{
    margin: auto;
        width: 100%;
        border: 1px solid #470fef;
        padding: 30px;

  }